/*
header

main part
    hebergements styles
    activities styles
    popular styles

footer
*/

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --claireGris: #deebff;
  --gris: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000;
}

/************* header **********/
/* grid template 6fr 3fr */
header, main {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

@media (min-width: 570px) {
    header {
      display: grid;
      grid-template-areas: "logo . navigat navSignIn";
      grid-template-columns: auto 1fr auto auto;
    }
}

body {
  min-width: 380px;
}

.logo {
  height: 8rem;
  padding: 0 20px;
  grid-area: logo;
}

.nav-sign-in {
  justify-self: flex-end;
  color: var(--blue);
  font-size: 3rem;
  padding: 2rem;
  font-weight: 600;

  grid-area: navSignIn;
}

nav {
  display: flex;
  flex: 1;

  grid-area: navigat;
}

.nav-link {
  color: black;
  font-size: 3rem;
  width: 50%;
  text-align: center;

  padding: 2rem;

  border-bottom: 10px solid var(--gris);
}

.nav-link:hover,
.nav-sign-in:hover {
  color: var(--blue);
  border-bottom: 10px solid var(--blue);
}

@media (min-width: 570px) {
  .nav-link {
    padding-top: 10px;
    border-top: 10px solid var(--gris);
    border-bottom: 10px solid transparent;
  }

  .nav-link:hover {
    border-top: 10px solid var(--blue);
    border-bottom: 10px solid transparent;
  }
}

/********* Filtre part **********/

.research {
  width: auto;
  margin-inline: 4rem;
}

.form-search-main {
  display: flex;
  border: solid 1px var(--claireGris);
  border-radius: 2rem;
  height: 8rem;
}

.form-search-input {
  border: none;
  flex: auto;
  font-size: 3em;
  font-weight: bold;
  padding-left: 2rem;
}

.form-search {
  display: flex;
  border: solid 1px var(--claireGris);
}

.filter-button {
  display: flex;
  flex: content;
  border: solid 0.25em var(--gris);
  border-radius: 4rem;
  height: 8rem;
  width: fit-content;
  margin-bottom: 3rem;

  margin-right: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

/* Button styles part */
button {
  background: none;
  border: none;
  font-size: 2.7em;
  font-weight: 800;
  margin-inline: 1em;
}

form i {
  color: var(--blue);
  /*background-color: var(--claireGris);*/
  height: 1.5rem;
  width: 2rem;
}

.fa-money-bill-wave {
  background-color: var(--claireGris);
  border-radius: 8rem;
  height: 8rem;
  width: 8rem;

  /****** ??? ****/
  padding-left: 1.5rem;
  padding-top: 2rem;
}

.fa-heart,
.fa-dog,
.fa-child {
  background-color: var(--claireGris);
  border-radius: 8rem;
  height: 8rem;
  width: 8rem;

  /****** ??? ****/
  padding-left: 2rem;
  padding-top: 2rem;
}

.fa-map-marker-alt {
  color: #000;
  background-color: var(--gris);
  border-radius: 2rem 0 0 2rem;
  height: 8rem;
  width: 8rem;

  padding-left: 2.2rem;
  padding-top: 1.8rem;
}

.fa-search {
  color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 2rem;
  background-color: var(--blue);

  padding-left: 2rem;
  padding-top: 2rem;
}

.fa-star {
  height: 6rem;
  width: 6rem;
}

.star {
  margin: 1rem;
  color: var(--blue);
}

.info-style {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.info-sign {
  color: var(--blue);
  height: 5rem;
  width: 6rem;
  border-radius: 3rem;
  border: solid 5px var(--claireGris);

  padding-left: 1.8rem;
  padding-top: 0.8rem;

  margin-right: 2rem;
}

.results {
  color: black;
  font-size: 3em;
}

/***** main part ********/
.section-header-title,
.search-title {
  font-size: 4em;
  font-weight: bold;
}

.subtitle {
  font-size: 3rem;
  font-weight: bold;
  padding-inline: 4rem;
}

.search-sub-title {
  color: black;
  font-size: 3em;
  margin-bottom: 2em;
}

/* hebergements styles */
.hebergements {
  grid-template-areas: hebergContain popul;
}

.hebergContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1.5rem;
  padding-inline: 4rem;

  grid-area: hebergContain;
}

.hebergements-square {
  height: 100%;
  border-radius: 15px;
  background-color: aqua;
  box-shadow: -1rem 0.8rem 5px var(--gris);
}

.hebergements-square figure {
  margin: 0;
}

.hebergements-square figure img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.hebergements-square h3 {
  margin: 1rem;
}

.hebergements-square p {
  margin: 1rem;
}

/*
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
*/

/* activities styles */
.activContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1.5rem;
  padding-inline: 4rem;
}

.activity-square {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(48, 248, 8);
  box-shadow: 0 0 10px #000;
}

.activity-square figure {
  margin: 0;
}

/* popular styles */
.popular {
  background-color: var(--claireGris);

  grid-area: popul;
}

.popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popularTitles {
}

.popularContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1.5rem;
  padding-inline: 4rem;
}

.popular-square {
  display: flex;

  height: 500px;
  border-radius: 2rem;
  background-color: #fff;
}

.popular-square figure {
  flex: 1;
  margin: 15px;
}

.popular-square figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

.popularSubTitle {
  font-size: 1rem;
  font-weight: 500;
}

.popular-right-side {
  flex: 1;
  margin: 15px;
  background-color: greenyellow;
}

.popular-right-side h3 {
  font-size: 3.5rem;
}

/*********** Footer styles ***********/
footer {
  background-color: var(--gris);
  padding: 2rem;
  padding-inline: 4rem;
}

footer h2 {
  font-size: 3rem;
  font-weight: bold;
}

footer div {
  font-size: 2rem;
  margin-bottom: 2rem;
}
